.sidebox {
  background-color: black;
  margin-bottom: 0px;
  color: white;
  font-family: Raleway;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 6%;
  padding-right: 8%;
}

.sidebox p {
  font-size: 60px;
}

.sidebox h3 {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #b6b7bb;
}

.sidebox h4 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #a8a8a8;
}

.sidebox h9 {
  color: red;
}
#insertcolor h2 {
  /* color: #4dffff;*/
  color: #a8a8a8;
  /*    color: grey;*/
}

footer {
  /*  height: 50px;*/
  /* background-color: #1d1f20 !important;*/
  background-color: black !important;

  overflow: auto;
  overflow-x: hidden;
  color: white;
  padding: 10px;

  width: 100%;
}
